:root {
    --white: #FFFFFF;
    --gray050: #F7F8F8;
    --gray100: #EEEEF0;
    --gray200: #D9DADE;
    --gray300: #B7BAC2;
    --gray400: #9095A0;
    --gray500: #727885;
    --gray600: #5C616D;
    --gray700: #4B4F59;
    --gray800: #41454B;
    --gray900: #393B41;
    --gray950: #1C1D20;
    --primary050: #E8F7FF;
    --primary100: #D5F0FF;
    --primary200: #B3E1FF;
    --primary300: #85CAFF;
    --primary400: #56A5FF;
    --primary500: #2F7FFF;
    --primary600: #0C52FF;
    --primary700: #0047FF;
    --primary800: #0640CD;
    --primary900: #103E9F;
    --primary950: #0A225C;
    --danger050: #FFF1F1;
    --danger100: #FFE1E1;
    --danger200: #FFC7C7;
    --danger300: #FFA0A0;
    --danger400: #FF5454;
    --danger500: #F83B3B;
    --danger600: #E51D1D;
    --danger700: #C11414;
    --danger800: #A01414;
    --danger900: #841818;
    --danger950: #480707;
    --primary-shadow: 0px 0px 0px 4px rgba(12, 82, 255, 0.4);
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 1.25rem;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--primary950);
}

/* typography */
.display_1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.5rem;
}

.display_2 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4rem;
}

.display_3 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.5rem;
}

.headline_1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
}

.headline_2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.headline_3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}

.headline_4 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.headline_5 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.headline_6 {
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.125rem;
}

.subhead_1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3rem;
}

.subhead_2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.subhead_3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
}

.subhead_4 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.subhead_5 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.subhead_6 {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.125rem;
}

.body_2 {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.caption {
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
}

/* End Typography */

/* Buttons */
.btn {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding: 1rem 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    white-space: nowrap !important;
}

.btn ion-icon {
    font-size: 1.25rem;
}

.block-btn {
    width: 100%;
}

.btn-icon {
    padding: .9rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.btn-icon ion-icon {
    font-size: 1.5rem !important;
}

.primary-btn {
    --bs-btn-color: var(--white);
    --bs-btn-bg: var(--primary600);
    --bs-btn-border-color: var(--primary600);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--primary800);
    --bs-btn-hover-border-color: var(--primary800);
    --bs-btn-focus-shadow-rgb: 12, 82, 255;
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--primary900);
    --bs-btn-active-border-color: var(--primary800);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(98, 83, 255, 0.5);
    --bs-btn-disabled-color: var(--gray500);
    --bs-btn-disabled-bg: var(--gray200);
    --bs-btn-disabled-border-color: var(--gray200);
}

.secondary-btn {
    --bs-btn-color: var(--primary900);
    --bs-btn-bg: var(--white);
    --bs-btn-border-color: var(--primary900);
    --bs-btn-hover-color: var(--primary900);
    --bs-btn-hover-bg: var(--primary050);
    --bs-btn-hover-border-color: var(--primary800);
    --bs-btn-focus-shadow-rgb: 12, 82, 255;
    --bs-btn-active-color: var(--primary900);
    --bs-btn-active-bg: var(--white);
    --bs-btn-active-border-color: var(--primary900);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(98, 83, 255, 0.5);
    --bs-btn-disabled-color: var(--gray500);
    --bs-btn-disabled-bg: var(--white);
    --bs-btn-disabled-border-color: var(--gray500);
}

.ghost-btn {
    --bs-btn-color: var(--primary950);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--primary600);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--primary800);
    --bs-btn-focus-shadow-rgb: 12, 82, 255;
    --bs-btn-active-color: var(--primary900);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--primary900);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(98, 83, 255, 0.5);
    --bs-btn-disabled-color: var(--gray500);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--gray500);
}

.link-btn {
    --bs-btn-font-weight: 400;
    --bs-btn-color: var(--primary600);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--primary800);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--primary900);
    --bs-btn-active-border-color: transparent;
    --bs-btn-disabled-color: var(--gray500);
    --bs-btn-disabled-border-color: transparent;
    --bs-btn-box-shadow: 0 0 0 #000;
    --bs-btn-focus-shadow-rgb: 12, 82, 255;
    text-decoration: none;
}

